version: "3"
services:
  keycloak:
    build: .
    container_name: keycloak
    restart: unless-stopped
    ports:
      - "8081:8080"
    environment:
      FEDERATE_LDAP: "true"
      LDAP_URL: ldaps://ldapu.ornl.gov
      USERSDN: dc=ornl,dc=gov
      KC_DB: postgres 
      KC_DB_PASSWORD: postgres 
      KC_DB_URL: jdbc:postgresql://ssm-postgres:5432/postgres 
      KC_DB_USERNAME: postgres 
      KEYCLOAK_ADMIN: admin 
      KEYCLOAK_ADMIN_PASSWORD: admin 
      HOSTNAME: localhost
      # HTTPS: true
    networks:
      - ssm
  postgres:
    container_name: ssm-postgres
    image: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres
    networks:
      - ssm
networks:
  ssm:
    driver: bridge
